.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 600px;
  gap: 30px;
  background: rgba(47, 48, 58, 0.4) url(../images/bg.jpg);
  background-blend-mode: darken;
  box-shadow: 0 4px 4px rgba(47, 48, 58, 0.4);
  border-top: 1px solid rgb(236, 236, 236);
}
.background__order-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 188%;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  background: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 0 25px 0;
  gap: 93px;
}
.header--logo-one {
  font-weight: 700;
  font-size: 26px;
  font-family: "raleway", sans-serif;
  line-height: 100%;
  color: rgb(33, 150, 243);
}
.header--logo-two {
  font-weight: 700;
  font-size: 26px;
  font-family: "raleway", sans-serif;
  line-height: 100%;
  color: rgb(0, 0, 0);
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__list {
  display: flex;
  gap: 46px;
}
.navigation__list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
}
.navigation--active-site {
  color: rgb(33, 150, 243);
}
.navigation--active-site::after {
  content: "";
  position: relative;
  display: block;
  top: 29px;
  width: 58px;
  height: 4px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
}

.header__link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:visited {
  color: rgb(33, 33, 33);
}
.header__link:hover, .header__link:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  gap: 50px;
}
.contacts__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: rgb(117, 117, 117);
  fill: rgb(117, 117, 117);
}
.contacts__link--icon {
  width: 16px;
  height: 16px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 252px;
  gap: 70px;
  background-color: rgb(47, 48, 58);
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 20px;
}

.logo {
  display: flex;
  text-decoration: none;
}
.logo--three {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 26px;
  font-family: "raleway", sans-serif;
  line-height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-size: 14px;
  line-height: 146%;
  color: rgb(255, 255, 255);
}
.address__contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
.address__link {
  text-decoration: none;
  color: rgb(117, 117, 117);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:visited {
  color: rgb(33, 33, 33);
}
.address__link:hover, .address__link:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.join-us {
  margin-top: 72px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.social-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.social-list--icons {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(117, 117, 117);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  fill: rgb(255, 255, 255);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list--icons:hover, .social-list--icons:focus {
  background-color: rgb(33, 150, 243);
}

.newsletter p {
  margin: 72px 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.newsletter__form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.newsletter__form button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 200px;
  height: 50px;
  text-align: center;
  gap: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  background: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.newsletter__form input {
  background-color: rgb(47, 48, 58);
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  padding-left: 16px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.newsletter__submit-icon {
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transform: translateX(0) translateY(0) scale(1);
  opacity: 1;
  visibility: visible;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: rgb(255, 255, 255);
}
.modal__agrement {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  gap: 8px;
}
.modal__agrement--blue-text {
  color: rgb(33, 150, 243);
}
.modal__agrement span {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}
.modal__agrement--checkbox {
  display: flex;
  align-self: center;
  width: 16px;
  height: 15px;
}
.modal__text {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}
.modal__input {
  display: inline-block;
  margin-top: 4px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input--icon {
  position: absolute;
  bottom: 11px;
  margin-left: 12px;
  width: 18px;
  height: 18px;
  fill: rgb(0, 0, 0);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  margin-top: 4px;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.modal__input:focus, .modal__input:active, .modal__textarea:active, .modal__textarea:focus {
  outline-style: none;
  border-color: #2196f3;
}
.modal__input:focus + .modal__input--icon, .modal__input:active + .modal__input--icon {
  fill: #2196f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 1600px;
  margin: 0 auto;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1600px;
}

.section {
  padding: 94px 0 0;
}

h1 {
  text-align: center;
  align-items: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 50px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
  padding: 39px 0 12px 0;
}/*# sourceMappingURL=main.css.map */