.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  max-width: 1600px;
  height: 400px;
  gap: 30px;
  background-image: url();
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.background__order-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 188%;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  background: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
}
.header__link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:visited {
  color: rgb(33, 33, 33);
}
.header__link:hover, .header__link:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}
.header--logo-one {
  font-weight: 700;
  font-size: 26px;
  font-family: "raleway", sans-serif;
  line-height: 100%;
  color: rgb(33, 150, 243);
}
.header--logo-two {
  font-weight: 700;
  font-size: 26px;
  font-family: "raleway", sans-serif;
  line-height: 100%;
  color: rgb(0, 0, 0);
}

.navigation {
  display: none;
}
.navigation__portable-menu {
  width: 20px;
  height: 20px;
}

.contacts {
  display: none;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .background {
    background-image: url(/images/bg@2x.jpg);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .navigation__list {
    display: flex;
    gap: 46px;
  }
  .navigation__list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
  }
  .navigation--active-site {
    color: rgb(33, 150, 243);
  }
  .navigation--active-site::after {
    content: "";
    position: relative;
    display: block;
    top: 29px;
    width: 58px;
    height: 4px;
    background-color: rgb(33, 150, 243);
    border-radius: 2px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
  .contacts__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: rgb(117, 117, 117);
    fill: rgb(117, 117, 117);
  }
  .contacts__link--icon {
    width: 16px;
    height: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .background {
    height: 600px;
  }
  .background h1 {
    font-size: 44px;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .navigation__list {
    display: flex;
    gap: 46px;
  }
  .navigation__list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
  }
  .navigation--active-site {
    color: rgb(33, 150, 243);
  }
  .navigation--active-site::after {
    content: "";
    position: relative;
    display: block;
    top: 21px;
    width: 58px;
    height: 4px;
    background-color: rgb(33, 150, 243);
    border-radius: 2px;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: auto;
  }
  .contacts__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: rgb(117, 117, 117);
    fill: rgb(117, 117, 117);
  }
  .contacts__link--icon {
    width: 16px;
    height: 16px;
  }
}
.strengths {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.strengths-list {
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  align-items: center;
}
.strengths-list--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  height: 120px;
  background-color: rgb(245, 245, 250);
  margin-bottom: 30px;
}
.strengths-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}
.strengths-list__description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 146%;
  text-align: s;
  color: rgb(117, 117, 117);
}

.job__section {
  display: none;
}

.jobs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.jobs__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: rgb(255, 255, 255);
}
.jobs__img {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  position: relative;
}

.team {
  padding: 60px 0;
  background-color: rgb(245, 245, 250);
  width: 100%;
  height: 100%;
}
.team__position {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}
.team__member {
  margin: 0 auto;
  width: 270px;
  height: 428px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__member--position {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 10px;
}
.team__member-name {
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}
.team__member-job {
  line-height: 100%;
  text-align: center;
  color: rgb(117, 117, 117);
}
.team__member-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
.team__member-social--icon {
  fill: rgb(175, 177, 184);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.team__member-social--icon:hover, .team__member-social--icon:focus {
  background-color: #2196f3;
  fill: white;
}

.partners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.partners__box {
  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  fill: rgb(175, 177, 184);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.partners__box:hover {
  fill: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .strengths {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .strengths-list {
    max-width: 354px;
  }
}
@media only screen and (min-width: 1200px) {
  .strengths {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .strengths-list {
    max-width: 270px;
  }
  .job__section {
    display: flex;
  }
  .jobs {
    justify-content: center;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 15px;
  text-align: center;
  width: 100%;
  height: 100%;
  gap: 70px;
  background-color: rgb(47, 48, 58);
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.logo {
  text-decoration: none;
  padding-bottom: 20px;
}
.logo--three {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 26px;
  font-family: "raleway", sans-serif;
  line-height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-size: 14px;
  line-height: 146%;
  color: rgb(255, 255, 255);
}
.address__contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
.address__link {
  text-decoration: none;
  color: rgb(117, 117, 117);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:visited {
  color: rgb(33, 33, 33);
}
.address__link:hover, .address__link:focus {
  color: rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
}

.join-us {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.join-us--text {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.social-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.social-list--icons {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(117, 117, 117);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  fill: rgb(255, 255, 255);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list--icons:hover, .social-list--icons:focus {
  background-color: rgb(33, 150, 243);
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.newsletter p {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.newsletter__form button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 200px;
  height: 50px;
  gap: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  background: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.newsletter__form input {
  background-color: rgb(47, 48, 58);
  color: rgba(255, 255, 255, 0.6);
  min-width: 290px;
  max-width: 450px;
  width: calc(100vw - 30px);
  margin: 0 auto;
  padding-left: 16px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.newsletter__submit-icon {
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    flex-flow: row nowrap;
  }
  .newsletter__form {
    display: flex;
    flex-flow: row nowrap;
  }
  .newsletter p {
    display: flex;
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
  transform: translateX(0) translateY(0) scale(1);
  opacity: 1;
  visibility: visible;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-btn:hover, .close-btn:focus {
  color: rgb(33, 150, 243);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 40px;
  width: 100%;
  max-width: 450px;
  min-height: 581px;
  background-color: rgb(255, 255, 255);
}
.modal__agrement {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  gap: 8px;
}
.modal__agrement--blue-text {
  color: rgb(33, 150, 243);
}
.modal__agrement span {
  font-weight: 400;
  font-size: 12px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}
.modal__agrement--checkbox {
  display: flex;
  align-self: center;
  width: 16px;
  height: 15px;
}
.modal__text {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}
.modal__input {
  display: inline-block;
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input--icon {
  position: absolute;
  bottom: 11px;
  margin-left: 12px;
  width: 18px;
  height: 18px;
  fill: rgb(0, 0, 0);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  margin-top: 4px;
  padding-top: 12px;
  padding-left: 16px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 30px auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.modal__input:focus, .modal__input:active, .modal__textarea:active, .modal__textarea:focus {
  outline-style: none;
  border-color: #2196f3;
}
.modal__input:focus + .modal__input--icon, .modal__input:active + .modal__input--icon {
  fill: #2196f3;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.filter__button {
  width: 121px;
  height: 38px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 139%;
  letter-spacing: 0.03em;
  background-color: rgb(245, 245, 250);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: box-shadow, color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:focus, .filter__button:hover, .filter__button:active {
  background-color: rgb(33, 150, 243);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 94px;
  padding: 0 15px;
  gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.card__item {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(238, 238, 238);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__item:hover {
  box-shadow: 0px 1px 1p rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__item:hover .card__item--overlay {
  transform: translateY(0);
}
.card__item img {
  display: block;
  max-width: 100%;
}
.card__item--overlay {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(33, 150, 243);
}
.card__item--overlay p {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  padding: 0 35px;
}
.card__description {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 24px 20px;
  gap: 4px;
  z-index: 3;
  background-color: rgb(255, 255, 255);
}
.card__description h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
}
.card__description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
  font-family: "Roboto", sans-serif;
  max-width: 1600px;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.section {
  margin: 94px 0;
}

h1 {
  text-align: center;
  align-items: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 50px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
  padding: 39px 0 12px 0;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 0 48px 40px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgb(33, 33, 33);
}

.mobile-menu {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  list-style: none;
}

.list-pages {
  display: inline-flex;
  flex-direction: column;
  gap: 36px;
}
.list-pages__link {
  display: inline;
  color: rgb(33, 33, 33);
  font-size: 36px;
  line-height: 47px;
  color: rgb(33, 33, 33);
}
.list-pages__link:hover, .list-pages__link:focus {
  color: rgb(33, 150, 243);
}

.list-contacts {
  position: absolute;
  bottom: 134px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.list-contacts__phone {
  font-size: 36px;
  line-height: 40px;
  color: rgb(33, 150, 243);
}
.list-contacts__mail {
  font-size: 26px;
  line-height: 28px;
  color: rgb(117, 117, 117);
}

.list-social {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  bottom: 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.list-social__item {
  font-size: 18px;
  line-height: 122%;
  color: rgb(33, 150, 243);
}
.list-social__item--link {
  color: inherit;
}

.list-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(153, 151, 151, 0.75);
}

.active-btn {
  width: 20px;
  height: 20px;
}
.active-btn:hover, .active-btn:focus {
  fill: rgb(33, 150, 243);
}/*# sourceMappingURL=main.css.map */