body {
	width: 1600px;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #212121;
	font-size: 16px;
	letter-spacing: 0.03em;
}
li {
	list-style: none;
}
/* header */
.header-bg {
	background-image: url(../images/bg.jpg);
	width: 1600px;
	height: 600px;
}
h1 {
	font-weight: 900;
	font-size: 44px;
	line-height: 136%;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
}
.logo-1 {
	font-weight: 700;
	font-size: 26px;
	font-family: raleway;
	line-height: 100%;
	color: #2196f3;
}
.logo-2 {
	font-weight: 700;
	font-size: 26px;
	font-family: raleway;
	line-height: 100%;
	color: #000000;
}
a {
	text-decoration: none;
}
a:visited {
	color: #212121;
}
a:hover,
a:focus {
	color: #2196f3;
}
.nav {
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
}
.contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
	color: #757575;
}
.order-button {
	width: 200px;
	height: 50px;
	font-weight: 700;
	line-height: 188%;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #ffffff;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}
/* header */
/* sekcja 1 */
.strengths {
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
}
.strengths-des {
	font-size: 14px;
	line-height: 146%;
	color: #757575;
}
/* sekcja 1 */
/* skecja 2 */
h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	text-align: center;
}
/* skecja 2 */
/* sekcja 3 */
.member {
	font-weight: 500;
	line-height: 100%;
	text-align: center;
}
.member-job {
	line-height: 100%;
	text-align: center;
	color: #757575;
}
.member-container {
	width: 270px;
	height: 368px;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team-bgc {
	background-color: #f5f4fa;
	width: 1600px;
	height: 648px;
}
/* sekcja 3 */
/* footer */
.footer-bg {
	background-image: url(../images/Footer-bg.jpg);
	width: 1600px;
	height: 252px;
}
address {
	font-size: 14px;
	line-height: 146%;
	color: #ffffff;
}
/* footer */
/* portfolio */
.filter {
	width: 121px;
	height: 38px;
	background: #f5f4fa;
	letter-spacing: 0.03em;
	border-radius: 4px;
	font-weight: 500;
	line-height: 139%;
	text-align: center;
	border: 0;
	cursor: pointer;
}
.filter:hover,
.filter:focus,
.filter:active {
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	color: #ffffff;
}
.project-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 171%;
	letter-spacing: 0.06em;
}
.project-type {
	line-height: 160%;
	color: #757575;
}
.project-container {
	width: 370px;
	height: 404px;
	background: #ffffff;
	border: 1px solid #eeeeee;
}
/* portfolio */
