body {
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
}
/* header */
.logo-1 {
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: #2196f3;
}
.logo-2 {
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: #000000;
}
a {
	text-decoration: none;
}
a:visited {
	color: #212121;
}
a:hover, a:focus {
    color: #2196F3;
}
.nav {
	list-style: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}
.contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #757575;
}
/* header */
