* {
	margin: 0;
	padding: 0;
}
body {
	width: 1600px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #212121;
	font-size: 16px;
	letter-spacing: 0.03em;
}
li {
	list-style: none;
}
.container {
	margin: 0 auto;
	width: 1200px;
}
.section {
	padding: 94px 0 0;
}
.pos-relative {
	position: relative;
}
/* header */
.active-site {
	color: #2196f3;
}
.blue-text {
	color: #2196f3;
}
.active::after {
	content: '';
	display: block;
	width: 58px;
	height: 4px;
	background-color: #2196f3;
	border-radius: 2px;
	position: relative;
	top: 29px;
}
.header {
	justify-content: space-between;
	display: flex;
	margin: 0 auto;
	padding: 24px 0 25px 0;
	border-bottom: 1px solid #ececec;
	gap: 93px;
}
.nav-pos {
	display: flex;
	gap: 46px;
}
.header-bg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	background: rgba(47, 48, 58, 40%) url(../images/bg.jpg);
	background-blend-mode: darken;
	box-shadow: 0 4px 4px rgba(47, 48, 58, 40%);
	width: 100%;
	height: 600px;
}
h1 {
	text-align: center;
	align-items: center;
	font-weight: 900;
	font-size: 44px;
	line-height: 136%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
}
.logo-1 {
	font-weight: 700;
	font-size: 26px;
	font-family: raleway;
	line-height: 100%;
	color: #2196f3;
}
.logo-2 {
	font-weight: 700;
	font-size: 26px;
	font-family: raleway;
	line-height: 100%;
	color: #000000;
}
.link {
	text-decoration: none;
	color: #000000;
	transition: fill, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-nav {
	width: 16px;
	height: 16px;
}
.link:visited {
	color: #212121;
}
.link:hover,
.link:focus {
	color: #2196f3;
	fill: #2196f3;
}
.nav {
	display: flex;
	align-items: center;
}
.nav-li {
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
}
.contacts {
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
	color: #757575;
	fill: #757575;
}
.cont-pos {
	display: flex;
	margin-left: auto;
	gap: 50px;
	justify-content: center;
	align-items: center;
}
.order-button {
	width: 200px;
	height: 50px;
	font-weight: 700;
	line-height: 188%;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #ffffff;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}
/* header */
/* sekcja 1 */
.str-list {
	display: flex;
	gap: 30px;
}
.strengths {
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
}
.strengths-des {
	margin-top: 10px;
	font-size: 14px;
	line-height: 146%;
	color: #757575;
}
.str-icon {
	width: 270px;
	height: 120px;
	background-color: #f5f4fa;
	margin-bottom: 30px;
}
/* sekcja 1 */
/* skecja 2 */
h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.shadow {
	text-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
}
.job-pos {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding-bottom: 94px;
}
.job-description {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 370px;
	height: 70px;
	background-color: rgba(47, 48, 58, 80%);
	color: white;
}
/* skecja 2 */
/* sekcja 3 */
.name-pos {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 30px;
}
.member {
	font-weight: 500;
	line-height: 100%;
	text-align: center;
}
.member-job {
	line-height: 100%;
	text-align: center;
	color: #757575;
}
.member-icon {
	width: 20px;
	height: 20px;
}
.member-container {
	width: 270px;
	height: 428px;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team {
	background-color: #f5f4fa;
	width: 100%;
	height: 648px;
}
.team-pos {
	display: flex;
	gap: 30px;
}
.member-social-icon {
	fill: #afb1b8;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;
}
.member-social-icon:hover,
.member-social-icon:focus {
	background-color: #2196f3;
	fill: white;
}
.member-social {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	gap: 10px;
}
/* sekcja 3 */
/* sekcja 4 */
.partners {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding-bottom: 94px;
}
.partner-box {
	width: 170px;
	height: 92px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	fill: #afb1b8;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;
}
.partner-box:hover {
	fill: #2196f3;
	border-color: #2196f3;
}
/* sekcja 4 */
/* footer */
.logo {
	display: flex;
	text-decoration: none;
}
.logo-3 {
	color: #ffffff;
	font-weight: 700;
	font-size: 26px;
	font-family: raleway;
	line-height: 100%;
}
.footer-bg {
	background-color: #2f303a;
	width: 100%;
	height: 252px;
}
.footer-pos {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.address {
	display: flex;
	flex-direction: column;
	gap: 9px;
	font-size: 14px;
	line-height: 146%;
	color: #ffffff;
}
.footer-cont {
	display: flex;
	flex-direction: row;
	gap: 70px;
}
.join-us {
	margin-top: 72px;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}
.footer-social-icons {
	fill: white;
	background-color: rgba(255, 255, 255, 10%);
	border-radius: 50%;
	color: #757575;
	width: 44px;
	height: 44px;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons:hover,
.footer-social-icons:focus {
	background-color: #2196f3;
}
.footer-social-list {
	display: flex;
	gap: 10px;
}
.newsletter-container p {
	margin: 72px 0 20px 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}
.newsletter-form {
	display: flex;
	gap: 20px;
}
.newsletter-form button {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 24px;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	color: #ffffff;
	fill: #ffffff;
	width: 200px;
	height: 50px;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	cursor: pointer;
}
.newsletter-form input {
	padding-left: 16px;
	width: 358px;
	height: 50px;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: rgba(47, 48, 58, 1);
}
.newsletter-submit-icon {
	width: 24px;
	height: 24px;
}
/* footer */
/* portfolio */
.filter {
	width: 121px;
	height: 38px;
	letter-spacing: 0.03em;
	font-weight: 500;
	line-height: 139%;
	text-align: center;
	background: #f5f4fa;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	transition: box-shadow, color,
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover,
.filter:focus,
.filter:active {
	background: #2196f3;
	border-radius: 4px;
	color: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter-pos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 8px;
}
.card-set {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	column-gap: 30px;
	padding-bottom: 94px;
}
.item {
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #eeeeee;
	cursor: pointer;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}
.item-des {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 24px 20px;
	position: relative;
	z-index: 3;
	background-color: white;
}
.item-des h3 {
	font-weight: 700;
	font-size: 18px;
	line-height: 200%;
	letter-spacing: 0.06em;
}
.item-des p {
	font-weight: 400;
	font-size: 16px;
	line-height: 188%;
	letter-spacing: 0.03em;
}
.item img {
	display: block;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 294px;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #2196f3;
	display: flex;
	align-items: center;
}
.overlay p {
	color: #ffffff;
	font-weight: 400;
	font-size: 18px;
	line-height: 156%;
	letter-spacing: 0.03em;
	padding: 0 35px;
}
.item:hover .overlay {
	transform: translateY(0);
}
/* portfolio */
/* modal */
.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
	transform: translateX(0) translateY(0) scale(1);
	opacity: 1;
	visibility: visible;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	min-height: 581px;
	background-color: #fff;
}
.close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}
/* modal */
/* inside modal */
.modal-text {
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: #757575;
	display: flex;
	flex-direction: column;
	position: relative;
}

.modal-icon {
	width: 18px;
	height: 18px;
	position: absolute;
	display: inline-block;
	bottom: 11px;
	margin-left: 12px;
	fill: #000000;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.agrement {
	display: flex;
	flex-flow: row-reverse nowrap;
	gap: 8px;
}
.submit-btn {
	margin-top: 28px;
	width: 200px;
	height: 50px;
	background-color: #2196f3;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 188%;
	letter-spacing: 0.06em;
	color: #ffffff;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	cursor: pointer;
}
.modal-input-positions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.input-modal {
	padding-left: 42px;
	display: inline-block;
	margin-top: 4px;
	width: 448px;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus,
.input-modal:active,
.textarea-modal:active,
.textarea-modal:focus {
	outline-style: none;
	border-color: #2196f3;
}
.input-modal:focus + .modal-icon,
.input-modal:active + .modal-icon {
	fill: #2196f3;
}
h4 {
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	padding: 39px 0 12px 0;
}
.agrement span {
	font-weight: 400;
	font-size: 14px;
	line-height: 171%;
	letter-spacing: 0.03em;
	color: #757575;
}
.checkbox {
	display: flex;
	align-self: center;
	width: 16px;
	height: 15px;
}
.textarea-modal {
	padding-left: 16px;
	padding-top: 12px;
	margin-top: 4px;
	resize: none;
	width: 448px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* inside modal */
