body {
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
}
li {
	list-style: none;
}
/* header */
.logo-1 {
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: #2196f3;
}
.logo-2 {
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: #000000;
}
a {
	text-decoration: none;
}
a:visited {
	color: #212121;
}
a:hover,
a:focus {
	color: #2196f3;
}
.nav {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}
.contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #757575;
}
.order {
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #ffffff;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}
/* header */
/* sekcja 1 */
.strengths {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #212121;
}
.strengths-des {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #757575;
}
/* sekcja 1 */
/* skecja 2 */
h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}
/* skecja 2 */
/* sekcja 3 */
.member {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}
.member-job {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #757575;
}
/* sekcja 3 */
/* portfolio */
.filter {
	width: 121px;
	height: 38px;
	background: #f5f4fa;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	border: 0;
	cursor: pointer;
}
.filter:hover,
.filter:focus,
.filter:active {
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	color: #ffffff;
}
.project-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
	color: #212121;
}

.project-type {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: #757575;
}
.project-container {
	width: 370px;
	height: 404px;
	background: #ffffff;
	border: 1px solid #eeeeee;
}
/* portfolio */
