* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 1600px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #212121;
	font-size: 16px;
	letter-spacing: 0.03em;
}
li {
	list-style: none;
}
.container {
	margin: 0 auto;
	width: 1200px;
}
.section {
	padding: 94px 0 0;
}
/* header */
.header {
	justify-content: space-between;
	display: flex;
	margin: 0 auto;
	padding: 24px 0 25px 0;
	border-bottom: 1px solid #ececec;
	gap: 93px;
}
.nav-pos {
	display: flex;
	gap: 46px;
}
.header-bg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	background-image: url(../images/bg.jpg);
	width: 100%;
	height: 600px;
}
h1 {
	text-align: center;
	align-items: center;
	font-weight: 900;
	font-size: 44px;
	line-height: 136%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
}
.logo-1 {
	font-weight: 700;
	font-size: 26px;
	font-family: raleway;
	line-height: 100%;
	color: #2196f3;
}
.logo-2 {
	font-weight: 700;
	font-size: 26px;
	font-family: raleway;
	line-height: 100%;
	color: #000000;
}
.link {
	text-decoration: none;
}
.link:visited {
	color: #212121;
}
.link:hover,
.link:focus {
	color: #2196f3;
}
.nav {
	display: flex;
	align-items: center;
}
.nav-li {
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
}
.contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.02em;
	color: #757575;
}
.cont-pos {
	display: flex;
	margin-left: auto;
	gap: 50px;
	justify-content: center;
	align-items: center;
}
.order-button {
	width: 200px;
	height: 50px;
	font-weight: 700;
	line-height: 188%;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #ffffff;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}
/* header */
/* sekcja 1 */
.str-list {
	display: flex;
	gap: 30px;
}
.strengths {
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
}
.strengths-des {
	margin-top: 10px;
	font-size: 14px;
	line-height: 146%;
	color: #757575;
}
/* sekcja 1 */
/* skecja 2 */
h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.job-pos {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding-bottom: 94px;
}

/* skecja 2 */
/* sekcja 3 */
.name-pos {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 30px;
}
.member {
	font-weight: 500;
	line-height: 100%;
	text-align: center;
}
.member-job {
	line-height: 100%;
	text-align: center;
	color: #757575;
}
.member-container {
	width: 270px;
	height: 368px;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team {
	background-color: #f5f4fa;
	width: 100%;
	height: 648px;
}
.team-pos {
	display: flex;
	gap: 30px;
}
/* sekcja 3 */
/* footer */
.logo {
	display: flex;
	text-decoration: none;
}
.logo-3 {
	color: #ffffff;
	font-weight: 700;
	font-size: 26px;
	font-family: raleway;
	line-height: 100%;
}
.footer-bg {
	background-image: url(../images/Footer-bg.jpg);
	width: 100%;
	height: 252px;
}
.footer-pos {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.address {
	display: flex;
	flex-direction: column;
	gap: 9px;
	font-size: 14px;
	line-height: 146%;
	color: #ffffff;
}
/* footer */
/* portfolio */
.filter {
	width: 121px;
	height: 38px;
	background: #f5f4fa;
	letter-spacing: 0.03em;
	border-radius: 4px;
	font-weight: 500;
	line-height: 139%;
	text-align: center;
	border: 0;
	cursor: pointer;
}
.filter:hover,
.filter:focus,
.filter:active {
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	color: #ffffff;
}
.filter-pos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 8px;
}
.proj-pos {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding-bottom: 92px;
}
.project-container {
	width: 370px;
	height: 404px;
	background: #ffffff;
	border: 1px solid #eeeeee;
}
.work-pos {
	margin: 20px 24px;
	gap: 4px;
}
.project-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 171%;
	letter-spacing: 0.06em;
}
.project-type {
	line-height: 160%;
	color: #757575;
}
/* portfolio */