@import './utils/variables';
@import './components/header';
@import './components/index-main';
@import './components/footer';
@import './components/modal';
@import './components/portfolio-main';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;

}
body {
	width: 1600px;
	margin: 0 auto;
	letter-spacing: 0.03em;
	font-weight: map-get($map: $font-weight, $key: normal);
	font-size: map-get($map: $font-size, $key: bolder);
	letter-spacing: 0.03em;
	color: $fontmainColor;
	font-family: $normal-font;
}
.container {
	margin: 0 auto;
	width: 1600px;
}
.section {
	padding: 94px 0 0;
}
h1 {
	text-align: center;
	align-items: center;
	font-weight: map-get($map: $font-weight, $key: bolder);
	font-size: map-get($map: $font-size, $key: h1);
	line-height: 136%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $secondaryfontColor;
}
h2 {
	font-weight: map-get($map: $font-weight, $key: bolder);
	font-size: map-get($map: $font-size, $key: h2);
	line-height: 100%;
	text-align: center;
	margin-bottom: 50px;
}
h4 {
	font-weight: map-get($map: $font-weight, $key: bold);
	font-size: map-get($map: $font-size, $key: h4);
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.03em;
	color: $fontmainColor;
	padding: 39px 0 12px 0;
}


