.background {
	@include flexcenter(column);
	width: 100%;
	height: 600px;
	gap: 30px;
	background: $shadowbackgroundColor url(../images/bg.jpg);
	background-blend-mode: darken;
	box-shadow: 0 4px 4px $shadowbackgroundColor;
	border-top: 1px solid $headerborderColor;

	&__order-button {
		width: 200px;
		height: 50px;
		font-weight: map-get($map: $font-weight, $key: bold);
		line-height: 188%;
		letter-spacing: 0.06em;
		color: $secondaryfontColor;
		background: $activeColor;
		box-shadow: 0px 4px 4px $shadowbuttonColor;
		border-radius: 4px;
		cursor: pointer;
	}
}
.header {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 24px 0 25px 0;

	gap: 93px;
	&--logo-one {
		font-weight: map-get($map: $font-weight, $key: bold);
		font-size: map-get($map: $font-size, $key: logo);
		font-family: $logo-font;
		line-height: 100%;
		color: $activeColor;
	}
	&--logo-two {
		font-weight: map-get($map: $font-weight, $key: bold);
		font-size: map-get($map: $font-size, $key: logo);
		font-family: $logo-font;
		line-height: 100%;
		color: $logoblackColor;
	}
}
.navigation {
	display: flex;
	align-items: center;

	&__list {
		display: flex;
		gap: 46px;
	}
	&__list-item {
		font-weight: map-get($map: $font-weight, $key: medium);
		font-size: map-get($map: $font-size, $key: normal);
		line-height: 100%;
		letter-spacing: 0.02em;
	}
	&--active-site {
		color: $activeColor;
	}
	&--active-site::after {
		content: '';
		position: relative;
		display: block;
		top: 29px;
		width: 58px;
		height: 4px;
		background-color: $activeColor;
		border-radius: 2px;
	}
}
.header__link {
	text-decoration: none;
	color: $logoblackColor;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:visited {
		color: $fontmainColor;
	}

	&:hover,
	&:focus {
		color: $activeColor;
		fill: $activeColor;
	}
}
.contacts {
	@include flexcenter(row);
	margin-left: auto;
	gap: 50px;
	&__link {
		@include flexdirection(row);
		align-items: center;
		gap: 10px;
		font-weight: map-get($map: $font-weight, $key: medium);
		font-size: map-get($map: $font-size, $key: normal);
		line-height: 100%;
		letter-spacing: 0.02em;
		color: $contactsColor;
		fill: $contactsColor;
	}
	&__link--icon {
		width: 16px;
		height: 16px;
	}
}