.strengths {
	@include flexdirection(column);
	gap: 30px;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	&-list {
		// display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 450px;
		align-items: center;
		&--icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			max-width: 450px;
			height: 120px;
			background-color: $backgroundiconColor;
			margin-bottom: 30px;
		}
		&__title {
			font-weight: map-get($map: $font-weight, $key: bold);
			font-size: map-get($map: $font-size, $key: normal);
			line-height: 100%;
			text-align: center;
			text-transform: uppercase;
		}
		&__description {
			margin-top: 10px;
			font-size: map-get($map: $font-size, $key: normal);
			line-height: 146%;
			text-align: s;
			color: $contactsColor;
		}
	}
}
.job__section {
	display: none;
}
.jobs {
	@include flexdirection(row);
	flex-wrap: wrap;
	gap: 30px;
	&__description {
		@include flexcenter(row);
		position: absolute;
		bottom: 0;
		width: 370px;
		height: 70px;
		background-color: $descriptionColor;
		color: $secondaryfontColor;
	}
	&__img {
		padding: 0 15px;
		display: flex;
		justify-content: center;
		position: relative;
	}
}
.team {
	padding: 60px 0;
	background-color: $backgroundiconColor;
	width: 100%;
	height: 100%;
	&__position {
		display: flex;
		flex-flow: row wrap;
		gap: 30px;
	}
	&__member {
		margin: 0 auto;
		width: 270px;
		height: 428px;
		background: $secondaryfontColor;
		box-shadow: 0px 1px 3px $membercontainershadow1,
			0px 1px 1px $membercontainershadow2, 0px 2px 1px $membercontainershadow3;
		border-radius: 0px 0px 4px 4px;
		&--position {
			@include flexdirection(column);
			padding-top: 30px;
			gap: 10px;
		}
		&-name {
			font-weight: map-get($map: $font-weight, $key: medium);
			line-height: 100%;
			text-align: center;
		}
		&-job {
			line-height: 100%;
			text-align: center;
			color: $contactsColor;
		}
		&-social {
			display: flex;
			justify-content: center;
			margin-top: 16px;
			gap: 10px;
			&--icon {
				fill: $socialiconColor;
				width: 44px;
				height: 44px;
				border-radius: 50%;
				transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
				cursor: pointer;
				&:hover,
				&:focus {
					background-color: #2196f3;
					fill: white;
				}
			}
		}
	}
}
.partners {
	@include flexdirection(row);
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
	&__box {
		width: 170px;
		height: 92px;
		border: 1px solid $socialiconColor;
		border-radius: 4px;
		fill: $socialiconColor;
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
		cursor: pointer;
		&:hover {
			fill: $activeColor;
			border-color: $activeColor;
		}
	}
}
