.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $backgroundbackdropColor;
	transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
	transform: translateX(0) translateY(0) scale(1);
	opacity: 1;
	visibility: visible;
}
.close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	background-color: $secondaryfontColor;
	border: 1px solid $backgroundbackdropColor;
	border-radius: 50%;
	cursor: pointer;
	&:hover,
	&:focus {
		color: $activeColor;
	}
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}
.modal {
	@include positioncenter;
	padding: 0 40px;
	width: 100%;
	max-width: 450px;
	min-height: 581px;
	background-color: $secondaryfontColor;
	&__agrement {
		@include flexdirection(row-reverse);
		flex-wrap: nowrap;
		gap: 8px;
		&--blue-text {
			color: $activeColor;
		}
		& span {
			font-weight: map-get($map: $font-weight, $key: normal);
			font-size: map-get($map: $font-size, $key: light);
			line-height: 171%;
			letter-spacing: 0.03em;
			color: $contactsColor;
		}
		&--checkbox {
			display: flex;
			align-self: center;
			width: 16px;
			height: 15px;
		}
	}
	&__text {
		@include flexdirection(column);
		position: relative;
		margin-bottom: 10px;
		font-weight: map-get($map: $font-weight, $key: normal);
		font-size: map-get($map: $font-size, $key: light);
		line-height: 14px;
		letter-spacing: 0.01em;
		color: $contactsColor;
	}
	&__input {
		display: inline-block;
		margin-top: 4px;
		padding-left: 42px;
		width: 100%;
		height: 40px;
		border: 1px solid $modalinputColor;
		border-radius: 4px;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&--icon {
			position: absolute;
			bottom: 11px;
			margin-left: 12px;
			width: 18px;
			height: 18px;
			fill: $logoblackColor;
			transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
	&__textarea {
		margin-top: 4px;
		padding-top: 12px;
		padding-left: 16px;
		width: 100%;
		resize: none;
		border: 1px solid $modalinputColor;
		border-radius: 4px;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__submit-btn {
		@include flexcenter(row);
		margin: 30px auto;
		width: 200px;
		height: 50px;
		font-weight: map-get($map: $font-weight, $key: bold);
		font-size: map-get($map: $font-size, $key: bolder);
		line-height: 188%;
		letter-spacing: 0.06em;
		color: $secondaryfontColor;
		background-color: $activeColor;
		box-shadow: 0px 4px 4px $shadowbuttonColor;
		border-radius: 4px;
		border: none;
		cursor: pointer;
	}
	&__input:focus,
	&__input:active,
	&__textarea:active,
	&__textarea:focus {
		outline-style: none;
		border-color: #2196f3;
	}
	&__input:focus + .modal__input--icon,
	&__input:active + .modal__input--icon {
		fill: #2196f3;
	}
}
